/* Reset stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #d3d1d1;
}

.content {
    float: left;
    clear: both;
    margin: 0 0 0 0;
    background-color: #d3d1d1;
    margin-top: 88px;
    display: block;
}



.header {
    position:fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background: #006400;
    color: white;
    z-index: 100000;
}

.header .logo img {
    height: 50px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 16px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar ul li a:hover {
    text-decoration: underline;
}


.hero {
    width: 91.3%; 
    text-align: center;
    padding: 70px;
    background-image: url(tlo2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    color: white;
}


.hero h1 {
    font-size: 40px;
    margin-bottom: 16px;
    text-shadow: 3px 3px black;
}

.hero .btn {
    display: inline-block;
    padding: 8px 16px;
    background: white;
    color: #006400;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.hero .btn:hover {
    background: #228B22;
    color: white;
}

.hero p{
    text-shadow: 1px 1px black;
}

.team {
    padding: 30px;
    text-align: center;
    background-color: #FFFFFF;
}


.player {
    position: relative; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    width: 100%;
}


.player img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

/* Nakładka z informacjami */
.player .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:auto;
    background: rgba(255, 255, 255, 0.8); /* Półprzezroczyste tło */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Płynne pojawianie się */
}

/* Informacje na nakładce */
.player .overlay .stats {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

/* Efekt hover */
.player:hover .overlay {
    opacity: 1; /* Nakładka widoczna po najechaniu */
}

.team .players {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ustawienia szerokości */
    gap: 16px; /* Odstęp między elementami */
    width: 100%; /* Siatka zajmuje całą szerokość */
    max-width: 1200px; /* Opcjonalne ograniczenie maksymalnej szerokości */
    margin: 0 auto;
}


.team h2 {
    margin-bottom: 16px;
}

.left {
    width: 70%; 
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right {
    width: 300px; 

    padding: 0 20px;
    /* border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.gallery, .historia, .contact {
    width: 100%; 
    background-color: #ffffff;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#gallery {
    width: 90%; /* Dostosuj szerokość */
    margin: 20px auto; /* Wyśrodkuj na stronie */
    text-align: center;
}
.gallery h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.gallery .btn1{
    display: inline-block;
    background-color: #228B22;
    color: #f8fafc;
    padding: 0.8rem 1.5rem;
    border-radius: 9999px;
    font-weight: 600;
    text-decoration: none;
}
.btn1:hover{
    background-color: #2ecc71;
}

.photos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Kolumny zależne od szerokości */
    gap: 16px;
    margin-bottom: 20px;
}

.photo {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.photo img {
    width: 100%; /* Dopasowanie zdjęcia do kontenera */
    height: auto; /* Proporcjonalne skalowanie */
    transition: transform 0.3s ease, filter 0.3s ease;
}

.photo:hover img {
    transform: scale(1.1); /* Powiększenie zdjęcia */
    filter: brightness(80%); /* Przyciemnienie zdjęcia */
}

.photo .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Półprzezroczysty czarny pasek */
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo:hover .caption {
    opacity: 1;
}

.match{
    position: relative;
    margin-bottom: 20;
}

.terminarz{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

section{
    padding-inline: 32px;
    margin-bottom: 48px;
}
.terminarz h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #228B22;
}
.match {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.match h3 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #228B22;
}

.match p {
    margin: 3px 0;
    font-size: 14px;
}
.match p span {
    font-weight: bold;
    color: #333;
}
.druzyny{
    min-width: 300px;
    width: 100%;
    text-align: center;
    gap: 16px;
    padding: 24px 24px;
}

.nowa_druzyna{
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 300px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



footer{
    background-color: #FFFFFF;
    float: left;
    width: 100%;
    height: 60px;
    padding: 30px 40px;
}
footer img#herb{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}

footer .icon{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.footer-content{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.footer-klub{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    text-align: center;
}
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
    background-color: #EEEEEE;
    justify-content: center;
}

.main{
    background-color: #d3d1d1;
    display: block;
}

.lastgame, .next-match{
    background-color: #FFFFFF;
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 25;
    text-align: center;
}
.lastgame h2, .next-match h2{
    background-color: rgb(201, 65, 6);
    color: black;
}
.right div{
    margin-bottom: 30px;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
    }

    .team .players {
        grid-template-columns: 1fr; 
    }
    .left, .right {
        width: 80%;
    }
    .content{
        margin-top: 217px;
    }
}
